@import "tailwindcss";
@theme {
  --color-offwhite: #FFFCF7;
  --color-beige: #F5F2EA;
  --color-primary: #2D2D2D;
  --color-accent: #FF2D2D;
  --color-purple: #7B6CF6;
  --color-muted: #BDBDBD;
  --color-accent-pink: #c64c7c;
  --color-accent-blue: #2b6cad;
  --color-blue: #2b6cad;
  
}

